.UpdateVacation {
    width: 400px;
    margin: 50px auto;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
}

.UpdateVacation h2 {
    color: #ffb602;
}

.UpdateVacation input, textarea {
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
    margin: 10px auto;
    height: 30px;
    outline: none;
    padding: auto;
}

.UpdateVacation textarea {
    height: 100px;
}

.UpdateVacation button {
    width: 100%;
    height: 30px;
    margin: 20px auto;
}


.UpdateVacation span {
    color: #ffb602;
    display: block;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}
.custom-file-input::before {
    content: 'Select image';
    display: inline-block;
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;    
}
.custom-file-input:hover::before {
    border-color: black;
}
.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

input[type="date"]:before{
    content: attr(placeholder);
    color: #ffb602;
}