.VacationCard {
    width: 400px;
    margin: 10px;
    height: 200px;
    display: inline-block;
    border-radius: 10px;
    text-align: left;
    position: relative;
    overflow: hidden;
    overflow-wrap: break-word;
}

.VacationCard span , p {
    display: block;
}

.VacationCard > .card-content > p {
    overflow-y: auto;
    height: 40px;
}


.VacationCard > img {
    width: 400px;
    height: 200px;
    background-size: 100% 100%;
    border-radius: 10px;
    opacity: 0.4;
}

.VacationCard > .card-content {
    position: absolute;
    top: 10px;
    width: 100%;
}

.VacationCard > .card-content > span, p {
    padding: 10px;
}

.VacationCard > .card-content > .bottom-card {
    background-color: rgb(255, 255, 255, .6);
    width: 100%;
    border-bottom-left-radius: 5px;
    padding: 3px;
}

.VacationCard > .card-content > .admin-icons {
    position: absolute;
    bottom: 15px;
    right: 2px;
}

.VacationCard > .card-content > .admin-icons > * {
    display: inline-block;
}

.VacationCard > .card-content > .admin-icons > .edit-link {
    background-color: #2ebae5;
    width: 70px;
    height: 25px;
    border-radius: 10px;
    text-decoration: none;
    margin: 5px;
    color: black;
    text-align: center;
}
.VacationCard > .card-content > .admin-icons > .delete-button-style {
    background-color: #ffb602;
    width: 70px;
    height: 25px;
    border-radius: 10px;
    text-decoration: none;
    margin: 5px;
    color: black;
    text-align: center;
    border: none;
}

.VacationCard > .card-content > .followers-area {
    position: absolute;
    top: 10px;
    right: 5px;
}

.VacationCard > .card-content > .followers-area > span {
    margin: 5px;
}

.VacationCard > .card-content > .followers-area > .follow-button-style {
    background-color: #ffb602;
    border-radius: 10px;
    border: none;
}
