.Register {
    width: 30%;
    margin: 50px auto;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
}

.Register h2 {
    color: #ffb602;
}

.Register input {
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
    margin: 10px auto;
    height: 30px;
    outline: none;
}

.Register button {
    width: 100%;
    height: 30px;
    margin: 20px auto;
}


.Register span {
    color: #ffb602;
    display: block;
}